<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--配置Hibernate的基本配置，
        数据源直接放在Spring的IOC容器中配置,关联的Hibernate的
        映射文件*.hbm.xml也放到IOC容器在配置SessionFactory的实例时进行配置，
        这里的Hibernate的基本属性的配置有：
        方言、SQL显示以及是否格式化，生成数据表的策略和二级缓存等基本配置，
        虽然这样说，但是在实际开发中，这个文件实际上都可以拿掉，但是建议保留
        -->

        <!-- DB schema will be updated if needed -->
        <!--显示SQL并且格式化-->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <!--配置数据的引擎，InnoDB,支持事务的数据库引擎-->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!--数据库的生成策略-->
        <property name="hbm2ddl.auto">update</property>

        <!--二级缓存-->
    </session-factory>
</hibernate-configuration>