<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring_Struts:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring_Struts_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring_Struts/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring_Struts" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Struts 2-2.5.14.1" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.3.14.RELEASE" />
          <element id="library" level="project" name="Spring-4.3.14.RELEASE" />
          <element id="library" level="project" name="Maven: org.javassist:javassist:3.22.0-GA" />
          <element id="library" level="project" name="Maven: org.apache.struts:struts2-spring-plugin:2.5.14" />
        </element>
      </element>
    </root>
  </artifact>
</component>